* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #edeef0;
}

h2 {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 33px;
}

.btn {
    margin-top: 25px;
    font-size: 21px;
    padding: 8px;
    box-shadow: 0px 0px 10px rgb(107, 106, 106);
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
}

.conrainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(107, 106, 106);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 660px;
    height: 660px;
    overflow: hidden;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgb(107, 106, 106);
}